  .feynman__link-link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none;
    transition: opacity 1s linear 0s;
  }
  
  .feynman__link-link:hover {
    opacity: 0.5;
  }
  
  .feynman__link-link:visited, .feynman__link-link:active, .feynman__link-link a{
    color: #2F80ED;
    text-decoration: none;  
  }

