.feynman {
  background-color: #F2F2F2;
  height: 790px;
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynmam-title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
  text-align: center;
  margin-bottom: 70px; 
}

.feynman-subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  text-align: center;
}

.feynman__link-link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
}

.feynman__link-link:visited, .feynman__link-link:active, .feynman__link-link a{
  color: #2F80ED;
  text-decoration: none;
}