.header__link-link {
  color: #2F80ED;
  text-decoration: none;
  transition: opacity 1s linear 0s;
}

.header__link-link:hover {
  opacity: 0.5;
}

.header__link-link:visited,
.header__link-link:active,
.header__link-link a {
  color: #2F80ED;
  text-decoration: none;
}
