.footer {
  background-color: black;
  color: white;
  min-height: 350px;
  padding: 60px 40px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding: 18px 0;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;  
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__column-link:visited, .footer__column-link:active, .footer__column-link a{
  color: white;
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  list-style: none;
}
